#root {
  background-color: #eceff1;
}

#dropdown-nav {
  color: black;
  outline: none;
  background: white;
  border-radius: 0;
  height: 40px;
  width: 158px;
}

@media screen and (max-width: 450px) {
  #dropdown-nav {
    display: none;
  }
}
